<!-- 
 file:index.ejs
  Student Id:  :- 3013018520
  Name :- Jay Joshi
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
            <h2>Welcome to Home of Books</h2>
       
      </div>
    </div>

<% include ../partials/footer.ejs %>


